<div class="card bg-light width: 100%; height: 100%;">
  <div class="mx-4 my-4">
    <article>
      <a href="/dashboard"> &larr; Back to dashboard</a>
      <div class="title-signup">Edit Post</div>
      <form class="edit-post-form">
        <div>
          <input name="post-title" type="text" value="{{post.title}}" />
          <span>({{format_url post.post_url}})</span>
        </div>
        <div>
          <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
      </form>
    </article>
    <form class="comment-form">
      <div>
        <textarea name="comment-body"></textarea>
      </div>
      <div>
        <button type="submit">add comment</button>
      </div>
    </form>
    {{> comments post.comments}}
  </div>
</div>

{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}}